@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("\fonts\SFPRO\SF-Pro.dmg") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro";
  src: url("\fonts\SFPRO\SF-Pro.dmg") format("woff2");
  font-weight: 700;
}
